body{
    background: linear-gradient(rgb(59, 59, 92),rgb(165, 0, 0));
    font-family: 'Times New Roman', Times, serif;
}

table,tr,td,th{
    border: 2px solid black;
    border-collapse: collapse; 
    margin: auto;
}

.titre{
    background-color: rgb(87, 34, 34);
    color: white;
    font-size: xx-large;
}

.distribution{
    background-color: darkred;
    color: white;
    font-size: large;
}

.background{
    background-color: white;
}

.poster{
    max-height: 800px;

}

.photoActeur{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.nomActeur{
    font-weight: bold;
    font-size: large;
    float: left;
}

/*#chrisEvans{
background-image: url("images/Chris_Evans.png"); j'ai pas compris comment l'appeler
}*/ 

.nomPersonnage{
    font-style: italic;
    color: red;
    font-size: small;
    float: inline-start;
}
.pskLokiEnFaitÀSaTête{
    font-style: italic;
    color: red;
    font-size: small;
    float: left;
}
.organiser{
    float: inline-start;
}



.synopsis{
    font-weight: bold;
    font-size: large;
    /*padding: 10px 4px 6px 4px;   marche pas*/
}

/*.resume{
    padding: 10px 4px 10px 4px; pareil
}*/
.autresFilms{
    list-style: none;
    font-weight: bold;
    font-size: x-large;
}

.listeFilms{
    font-size: medium;
    font-weight: normal;
    list-style-type: disc;
}